.showcase{
  width: 1130px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.products{
  width: 741px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
}

.product{
  background-color: rgba(138, 112, 83, 0.7);
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  color: azure;
}

.product__img{
  width: 100%;
  height: 50%;
}

.product__text{
  margin-top: 15px;
  font-weight: 500;
  font-size: 20px;
}

.product__price{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.product__button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 13px 13px 13px 13px;
  overflow: hidden;
  width: 120px;
  background-color:  rgb(94, 64, 26);
  color:azure;
}

.button{
  border: none;
  width: 40px;
  height: 30px;
  background-color:  rgb(94, 64, 26);
  cursor: pointer;
  transition: .3s;
  color:azure;
}

.button:hover{
  background-color: black;
  color: azure;
}

.block__price{
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.price{
  font-weight: 600;
  font-size: 20px;
}

.addProduct{
  width: 300px;
  height: 45px;
  margin: auto;
  color: rgb(255, 199, 125);
  border: 3px solid rgb(255, 199, 125);
  border-radius: 6px;
  background: none;
  transition: .3s;
  cursor: pointer;
}

.addProduct:hover{
  background-color: black;
  color: azure;
  border: none;
}

.hidden{
  display: none;
}

@media screen and (max-width: 500px) {
  .header{
    width: 500px;
  }

  .header__text{
    font-size: 35px;
  }

  .showcase{
    padding-top: 20px;
    width: 500px;
    align-items: center;
    flex-direction: column;
  }

  .products{
    width: 500px;
    justify-content: center;
  }

}